aside.sidebar {
  width: 75px;
  height: 100vh;
  padding: var(--container-padding);

  display: flex;
  flex-direction: column;

  /* Add a little depth */
  box-shadow: var(--shadow-small);

  /* For later use with expand/contract */
  transition: width 150ms ease-in-out;
}

/* Closed sidebar child styles */
/* ...... */

/* Open Sidebar styles */
aside.sidebar.expanded {
  width: 275px;
}

/* Image */
.sidebar .sidebar-icon-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar-icon-wrapper .sidebar-icon {
  border-radius: var(--normal-radius);
  border: 1px solid var(--dark-gray);
  margin: 1.5rem 0;
}

/* Title */
.sidebar .sidebar-title {
  /* spacing */
  margin-bottom: 0.75rem;
  text-align: center;
}

.sidebar .sidebar-title a {
  color: var(--text-normal);
  text-decoration: none;
  font-size: var(--title-font-size);
}

.sidebar .sidebar-title a:hover {
  text-decoration: underline;
}

/* Auth section */
.sidebar .sidebar-auth-section {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  margin-bottom: 0.25rem;
}

/* .sidebar .sidebar-auth-section button,
.sidebar .sidebar-auth-section a {
  background-color: var(--text-white);
  border: 1px solid var(--dark-gray);
  border-radius: var(--normal-radius);
  color: var(--text-normal);
  cursor: pointer;
  text-decoration: none;
  padding: 0.25rem 1rem;

  transition: background-color 150ms ease-out, color 150ms ease-out;
}

.sidebar .sidebar-auth-section a:hover,
.sidebar .sidebar-auth-section a.active {
  background-color: var(--dark-gray);
  color: var(--text-white);
} */

.sidebar .sidebar-logout {
  border: var(--dark-thin-border);
  border-radius: var(--normal-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 6rem;

  padding: 1rem;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar-logout .sidebar-logout-btn {
  margin: 0 auto;
  width: 85px;
}

.sidebar .sidebar-profile {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.sidebar-profile .sidebar-profile-img img {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 2rem;
}

/* Route container */
.sidebar .route-container {
  padding: 1rem 0;
}

.route-container .route-title {
  padding-bottom: 0.5rem;
  border-bottom: var(--thin-border);
  margin-bottom: 0.5rem;
}

.route-container .route-item {
  border-radius: var(--normal-radius);
  margin-bottom: 0.25rem;

  transition: background-color 150ms ease-out;
}

.route-container .route-item a {
  color: var(--text-normal);
  display: block;
  padding: var(--container-padding);
  text-decoration: none;

  transition: color 150ms ease-out;
}

/* Active and hover states are shared */
.route-container .route-item:hover,
.route-container .route-item.active {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.route-container .route-item.active a,
.route-container .route-item:hover a {
  color: var(--text-white);
}
