.register-page {
  max-width: 50%;
  min-width: 375px;
  margin: 0 auto;
}

/* Loading message */
.register-page > h2 {
  margin-bottom: 1.5rem;
}

.register-page .register-page-disclaimer {
  margin-bottom: 1rem;
}

/* ============================================== */
/* Registration Callback after discord data fetch */
/* ============================================== */

.register-page .register-user-confirmation {
  padding: var(--container-padding);
}
.register-user-confirmation .register-user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.register-user-confirmation .register-user-profile img {
  margin-right: 1.5rem;
}

.register-user-profile .register-user-intro h2 {
  margin-bottom: 0.5rem;
}

.register-page .register-user-form {
  border: var(--thin-border);
  border-radius: var(--normal-radius);
  padding: var(--container-padding);
}

.register-page .register-user-form h2 {
  margin-bottom: 1rem;
}

.register-user-form .informational-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.informational-inputs div {
  padding: 0.5rem 0;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.informational-inputs div .informational-label {
  color: var(--label-gray);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.register-user-form .register-user-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.register-user-form .register-user-inputs input {
  border: var(--thin-border);
  border-radius: var(--normal-radius);
  width: 48%;
  padding: 0.5rem;
}

.register-user-form .form-validation {
  align-items: center;
  color: red;
  display: flex;
  height: 1.5rem;
  justify-content: center;
}

.register-user-form .form-controls {
  display: flex;
  justify-content: flex-end;
}
