:root {
  /* Fonts */
  --title-font-size: 1.5rem;
  /* --title-font: 'Roboto', sans-serif; */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;

  /* Colors */
  --light-gray: #d4d4d4;
  --dark-gray: #2d2d2d;
  --label-gray: #2d2d2d80;
  --text-normal: var(--dark-gray);
  --text-white: #fefefe;
  --discord-blue: #677bc4;

  /* Borders */
  --normal-radius: 5px;
  --thin-border: 1px solid var(--light-gray);
  --dark-thin-border: 1px solid var(--dark-gray);

  /* Spacing */
  --container-padding: 1rem 2rem;

  /* Shadows */
  --shadow-small: 0 0 2px gray;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-weight: lighter;
}

p,
div h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
.title-role {
  font-family: var(--title-font);
}

div.app-wrapper {
  display: flex;
}

/* Shared components */
.button {
  border: 1px solid var(--dark-gray);
  border-radius: var(--normal-radius);
  cursor: pointer;
  padding: 0.25rem 1rem;
  /* Allows for links to get styled as a button */
  text-decoration: none;
  /* Add a nice transition */
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

.button.button-primary {
  background-color: var(--text-white);
  color: var(--text-normal);
}

.button.button-primary:hover,
.button.button-primary.active {
  background-color: var(--dark-gray);
  color: var(--text-white);
}

.button.button-secondary {
  background-color: var(--dark-gray);
  color: var(--text-white);
}

.button.button-secondary:hover,
.button.button-secondary.active {
  background-color: var(--text-white);
  color: var(--text-normal);
}

.button.button-discord {
  border-color: var(--discord-blue);
  background-color: var(--discord-blue);
  color: var(--text-white);
}

.button.button-discord:hover {
  background-color: var(--text-white);
  color: var(--discord-blue);
}
